@import './varibles';

$blue:rgb(11, 81, 204) ;

/**,html {
    background: black;
}*/

#diceResault {
    color: rgb(196, 38, 38);
}

button {
    background: none;
    color: rgb(35, 95, 148);
    border: 2px solid rgb(35, 95, 148);
    border-radius: 7px;
    font-size: 1.5rem;
    padding: .5rem;
    cursor: pointer;
    margin: 20px;

}

button:active {
    transform: translateY(1px);
}