@import './varibles';



/**,html {
    background: black;
}*/

#diceResault {
    color: $blue;
}

button {
    background: none;
    color: $blue;
    border: 2px solid rgb(35, 95, 148);
    border-radius: 7px;
    font-size: 1.5rem;
    padding: .5rem;
    cursor: pointer;
    margin: 20px;

}

button:active {
    transform: translateY(1px);
}